﻿<%@ Master Language="VB" CodeFile="NotificationMaster2.master.vb" Inherits="NotificationMaster2" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Travelvilla</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>--%>
 <%--   <script src="<%=ResolveUrl("~CNJS/js/maruti.js")%>"></script>
    <script src="<%=ResolveUrl("~CNJS/js/maruti.dashboard.js")%>"></script>
    <script src="<%=ResolveUrl("~CNJS/js/maruti.chat.js")%>"></script>--%>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <%--<link href="<%= ResolveUrl("~/newcss/bootstrap.min.css")%>" rel="stylesheet" />--%>
    <link rel="stylesheet" href="<%=ResolveUrl("~/CNJS/css/maruti-style.css")%>" />
    <link rel="stylesheet" href="<%=ResolveUrl("~/CNJS/css/maruti-media.css")%>" class="skin-color" />
    <link id="main-style" href="<%=ResolveUrl("~/css1/style.css") %>" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <style>
        .noti_Container {
            position: relative;
        }

        /* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
        #noti_Button {
            width: 22px;
            height: 22px;
            line-height: 22px;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            background: #FFF;
            margin: -3px 10px 0 10px;
            cursor: pointer;
        }

        /* THE POPULAR RED NOTIFICATIONS COUNTER. */
        .noti_Counter {
            display: block;
            position: absolute;
            background: #E1141E;
            color: #FFF;
            font-size: 12px;
            font-weight: normal;
            padding: 1px 3px;
            margin: -8px 0 0 25px;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            z-index: 1;
        }

        /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
        .notifications {
            display: none;
            width: 400px;
            position: absolute;
            top: 60px;
            left: 0;
            background: #FFF;
            border: solid 1px rgba(100, 100, 100, .20);
            -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
            z-index: 0;
            transform: translate3d(-229px, 5px, 0px);
            border-radius: 10px;
        }
            /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
            .notifications:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                color: transparent;
                border: 10px solid #CCC;
                border-color: transparent transparent #FFF;
                margin-top: -20px;
                margin-left: 270px;
            }

        h3 {
            display: block;
            color: #333;
            background: #FFF;
            font-weight: bold;
            font-size: 13px;
            padding: 8px;
            margin: 0;
            border-bottom: solid 1px rgba(100, 100, 100, .30);
        }

        .seeAll {
            background: #F6F7F8;
            padding: 8px;
            font-size: 12px;
            font-weight: bold;
            border-top: solid 1px rgba(100, 100, 100, .30);
            text-align: center;
        }

            .seeAll a {
                color: #3b5998;
            }

                .seeAll a:hover {
                    background: #F6F7F8;
                    color: #3b5998;
                    text-decoration: underline;
                }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div id="header">
            <%--  <h1><a href="dashboard.html">Maruti Admin</a></h1>--%>

            <!--close-Header-part-->

            <!--top-Header-messaages-->
            <%--<div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a> </div>--%>
            <!--close-top-Header-messaages-->

            <!--top-Header-menu-->
            <div id="user-nav" class="nav navbar-nav navbar-right">
                <ul class="">
                    <li class="" id="pending_li" runat="server"><a title="" style="color: #c1c1c1"><i class="icon icon-warning-sign"></i><span class="text" id="span1">Pending</span></a>
                        <!--SHOW NOTIFICATIONS COUNT.-->

                        <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
                        <%-- <div id="noti_Button"></div>--%>
                        <div id="noti_Counter" class="noti_Counter" runat="server"></div>

                        <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                        <div id="div1" class="notifications">
                            <h3>Pending Booking</h3>
                            <div style="height: 150px; overflow: auto" class="container-fluid" id="div_notify_value1" runat="server">
                            </div>
                            <div class="seeAll"><a href="<%=ResolveUrl("~/DetailsPort/ADMIN/QCTicketReport")%>">See All</a></div>
                        </div>
                    </li>
                    <li class="" id="refund_li" runat="server"><a title="" style="color: #c1c1c1"><i class="icon icon-retweet"></i><span class="text" id="span2">Refund</span></a>
                        <div id="noti_Counter1" class="noti_Counter" runat="server"></div>

                        <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                        <div id="Div2" class="notifications">
                            <h3>Refund Booking</h3>
                            <div style="height: 150px; overflow: auto" class="container-fluid" id="div_notify_value2" runat="server"></div>
                            <div class="seeAll"><a href="<%=ResolveUrl("~/DetailsPort/ADMIN/QCTicketReport")%>">See All</a></div>
                        </div>
                    </li>
                    <li class="" id="reissue_li" runat="server"><a title="" style="color: #c1c1c1"><i class="icon icon-tasks"></i><span class="text" id="span3">Reissue</span></a>
                        <div id="noti_Counter3" class="noti_Counter" runat="server"></div>

                        <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                        <div id="Div4" class="notifications">
                            <h3>Reissue Booking</h3>
                            <div style="height: 150px; overflow: auto" class="container-fluid" id="div_notify_value3" runat="server"></div>
                            <div class="seeAll"><a href="<%=ResolveUrl("~/DetailsPort/ADMIN/QCTicketReport")%>">See All</a></div>
                        </div>
                    </li>
                    <li class=""><a title="" href="<%=ResolveUrl("~/DetailsPort/Admin/Agent_Details")%>" style="color: #c1c1c1"><i class="icon icon-user"></i><span class="text">Profile</span></a></li>

                    <li class=""><a title="" style="color: #c1c1c1" href="<%=ResolveUrl("~/DetailsPort/privilegepanel/BoundSheet")%>"><i class="icon icon-cog"></i><span class="text">Settings</span></a></li>
                    <li class=""><a title="" style="color: #c1c1c1" href="<%=ResolveUrl("~/Logout.aspx")%>"><i class="icon icon-share-alt"></i><span class="text">Logout</span></a></li>
                </ul>
            </div>
        </div>
        <div id="ul_menu" runat="server"></div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
    </form>
    <script>
        $(document).ready(function () {

            // ANIMATEDLY DISPLAY THE NOTIFICATION COUNTER.
            $('.noti_Counter')
                .css({ opacity: 0 })
                //.text('1')  // ADD DYNAMIC VALUE (YOU CAN EXTRACT DATA FROM DATABASE OR XML).
                .css({ top: '-10px' })
                .animate({ top: '9px', opacity: 1 }, 500);

            $('#span1').click(function () {
                $('#Div2').hide();
                $('#Div4').hide();
                // TOGGLE (SHOW OR HIDE) NOTIFICATION WINDOW.
                $('#div1').fadeToggle('fast', 'linear', function () {
                    if ($('#div1').is(':hidden')) {

                        //$('#noti_Button').css('background-color', '#2E467C');
                    }
                    // CHANGE BACKGROUND COLOR OF THE BUTTON.
                    //else $('#noti_Button').css('background-color', '#FFF');
                });

                //$('#noti_Counter').fadeOut('slow');     // HIDE THE COUNTER.

                return false;
            });
            $('#span2').click(function () {
                $('#div1').hide();
                $('#Div4').hide();
                // TOGGLE (SHOW OR HIDE) NOTIFICATION WINDOW.
                $('#Div2').fadeToggle('fast', 'linear', function () {
                    if ($('#Div2').is(':hidden')) {

                        //$('#noti_Button').css('background-color', '#2E467C');
                    }
                    // CHANGE BACKGROUND COLOR OF THE BUTTON.
                    //else $('#noti_Button').css('background-color', '#FFF');
                });

                //$('#noti_Counter').fadeOut('slow');     // HIDE THE COUNTER.

                return false;
            });
            $('#span3').click(function () {
                $('#div1').hide();
                $('#Div2').hide();
                // TOGGLE (SHOW OR HIDE) NOTIFICATION WINDOW.
                $('#Div4').fadeToggle('fast', 'linear', function () {
                    if ($('#Div4').is(':hidden')) {
                        //$('#noti_Button').css('background-color', '#2E467C');
                    }
                    // CHANGE BACKGROUND COLOR OF THE BUTTON.
                    //else $('#noti_Button').css('background-color', '#FFF');
                });

                //$('#noti_Counter').fadeOut('slow');     // HIDE THE COUNTER.

                return false;
            });

            // HIDE NOTIFICATIONS WHEN CLICKED ANYWHERE ON THE PAGE.
            $(document).click(function () {
                $('.notifications').hide();

                // CHECK IF NOTIFICATION COUNTER IS HIDDEN.
                if ($('#noti_Counter').is(':hidden')) {

                    // CHANGE BACKGROUND COLOR OF THE BUTTON.
                    //$('#noti_Button').css('background-color', '#2E467C');
                }
            });

            //$('#div1').click(function () {
            //    return false;       // DO NOTHING WHEN CONTAINER IS CLICKED.
            //});
        });
    </script>
</body>
</html>
