﻿@media (min-width: 1200px) .container-scroller .content-wrapper {
    max-width: 1140px;
}

@media (min-width: 992px) .container-scroller .content-wrapper {
    max-width: 960px;
}

@media (min-width: 768px) .container-scroller .content-wrapper {
    max-width: 720px;
}

@media (min-width: 576px) .container-scroller .content-wrapper {
    max-width: 540px;
}

.container-scroller .content-wrapper {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    padding: 2rem 0.937rem;
}


.page-header {
    margin: 0 0 1.5rem 0;
}

.align-items-center, .page-header, .loader-demo-box, .list-wrapper ul li, .email-wrapper .message-body .attachments-sections ul li .thumb, .email-wrapper .message-body .attachments-sections ul li .details .buttons, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item, .horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.justify-content-between, .page-header {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.card {
    border: 0;
    background: #fff;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.3125rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-main {
    background: #fff;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    position: relative;
    clear: both;
    border-radius: 6px;
    padding: 0px;
}

.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    
    margin-bottom: 15px;
    border-radius: 6px;
}

    .breadcrumb-arrow li:first-child {
        border-radius: 6px 0 0 6px;
        background: var(--breadcrumbFirstChild-bg);
    }


    .breadcrumb-arrow li {
        display: inline-block;
        vertical-align: top;
        background: #1c2d43;
        margin-right: 23px;
        position: relative;
    }

.breadcrumb-arrow li:first-child:before {
    border: none;
}


    .breadcrumb-arrow li:before {
        content: "";
        position: absolute;
        top: 0;
        border: 0 solid #1c2d43;
        border-width: 18px 10px;
        width: 0;
        height: 0;
        left: -20px;
        border-color: #1c2d43;
        border-left-color: transparent;
    }

.breadcrumb-arrow a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

    .breadcrumb-arrow li:first-child {
        border-radius: 6px 0 0 6px;
        background: #96d558;
    }

        .breadcrumb-arrow li:first-child:after {
            border-left-color: #96d558;
        }


    .breadcrumb-arrow li:after {
        content: "";
        position: absolute;
        top: 0;
        border: 0 solid #1c2d43;
        border-width: 18px 10px;
        width: 0;
        height: 0;
        left: 100%;
        border-color: transparent;
        border-left-color: #1c2d43;
    }


.btn-export {
    background: #96d558;
    color: #fff;
    padding: 6px 10px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 0;
    margin-right: 15px;
    transition: all 0.3s ease-out;
    border: none;
}


.btn, .cmn-btn {
    background: #1c2d43 !important;
    color: #fff;
    position: relative;
    /*top: 20px;*/
}

    .btn:hover, .btn:focus, .btn.focus {
        color: #fff !important;
        text-decoration: none;
    }

.btn, .cmn-btn:hover {
    background: #ccc;
   
}